@charset "utf-8";

*{margin: 0;padding: 0;box-sizing: border-box;}
body{font-size: 13px;
    font-family: 'Noto Sans KR',Tahoma,sans-serif;
    font-weight: 400;
    color: #48525f;}
ul,li{list-style: none;}
a{text-decoration: none;}
a:link,a:visited{color: #666;}
div{display: block;}

.bnr_section {
    float: left;
    width: 300px;
    height: 140px;
    margin-top: 20px;
 }   

.bnr_notice{
	position: relative;
    padding: 15px 20px;
}

.bnr_section>div {
    overflow: hidden;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 3px rgba(81,76,68,0.14);

}
.bnr_notice dt{
	font-size: 16px;
    font-weight: 500;
    color: #38474f;
}

.ico {
    display: inline-block;
    background: url(./img/spr_ico.png) no-repeat 0 0;
    vertical-align: middle;
}
.ico_notice {
    width: 16px;
    height: 16px;
    background-position: 0 -30px;
    margin-right: 5px;
}

.btn_ico {
    display: inline-block;
    overflow: hidden;
    background: url(./img/spr_ico.png) no-repeat 0 0;
    text-indent: -999em;
    vertical-align: middle;
}
.btn_more {
    position: absolute;
    top: 20px;
    right: 25px;
    width: 24px;
    height: 24px;
    background-position: -159px -91px;
}
.bnr_notice li {
    padding-top: 11px;
    padding-left: 10px;
    margin-top: 12px;
    background: url(./img/bg_dot_line.png) repeat-x 8px 0;
}